<?xml version="1.0" encoding="UTF-8"?>
<!--
  Required .NET modules for IntraWeb ASPX Deloyment:
	.NET Framework Version 4.5 -> Download link: http://www.microsoft.com/en-us/download/details.aspx?id=30653
    ASP.NET MVC 4 -> Download link: http://www.asp.net/mvc/mvc4  (choose "standalone MVC 4 Installer")

  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433
  For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
  
  Specific instructions for IntraWeb ASPX Deployment:
  - Follow STEPS 1 to 4 in <appSettings> and <system.web> sections below.
  - All other settings may be left with default values
-->

<configuration>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- STEP 1: Change "value" below to match your application name under IIS -->
    <add key="wwwroot" value="wwwroot\M16Site" />
	
    <!-- STEP 2: Change "value" below to match your IntraWeb Library (DLL) module -->    
    <add key="Application" value="d:\DZHosts\LocalUser\m16tech\www.m16.somee.com\M16Site.dll" />

    <!-- STEP 3: Change "value" below to "true" if you are using IWP (IntraWeb pages). Otherwise leave it as "false" -->
    <add key="IWPEnabled" value="false" />
  </appSettings>

  <system.web>
    <!-- STEP 4: Change "debug" value below to "false" if you are deploying in PRODUCTION environment -->
    <compilation debug="true" targetFramework="4.5" />
	<customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>    
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
        <handlers accessPolicy="Read, Execute, Script" />
  </system.webServer>

 </configuration>