/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	FEATHER SITE TEMPLATES
	Version     :	1.0
	Last Change : 	10/01/2017
	Primary Use :   FEATHER SITE TEMPLATES

=================================================================================================================================*/

/*========================================== LAYOUT ===================================================================

		1.GLOBAL STYLES
		2.COMMON STYLES
		3.THEME COLOR
		4.NAVIGATION
		5.BUTTON
		6.HEADER		
		7.ABOUT
		8.MY STUDIES	
		9.EXPERIENCE
		10.SKILLSET
		11.TESTIMONIAL
		12.PRICING TABLE
		13.SERVICES
		14.MY POST
		15.SUBSCRIBE
		16.INSTAGRAM PHOTOS
		17.FOOTER
		18.ADDITIONAL CSS	
		19.DOWNLOAD RESUME
			19.1.COMMON STYLES
			19.2.PROFILE
			19.3.CONTACT AND SOCIAL WEBSITE
			19.4.EDUCATION AND WORK
			19.5.SKILL BAR
			19.6.PROJECTS
			19.7.AWARD
			19.8.REFERENCE
		20.MEDIA QUERIES
	

=================================================================================================================================*/

/*========================================== COLOR CODES =========================================================================

	Background         :#444444 [black]
	Theme Color        :#f2f2f2 and f9f9f9 [white]
	Button Hover Color :#ee163b [dark pink]
	Main Heading Color :#323232 [light gray]
	SubHeading Color   :#323232 [light gray]
	Content Color      :#292929 [light Black]

=================================================================================================================================*/

/*========================================== TYPOGRAPHY =========================================================================

	Body :font-family: 'Roboto', sans-serif , Arial , Vedana  , Trebuchet MS;

=================================================================================================================================*/

/*========================================== 1.GLOBAL CSS START ===========================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  background: #444444;
  color: #323232;
  font-family: 'Roboto', sans-serif , Arial , Vedana  , Trebuchet MS;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

p {
  color: #292929;
  margin: 0;
}

h2,
h3 {
  color: #323232;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/*========================================== 1.GLOBAL CSS END ===========================================*/

/*========================================== 2.COMMON CSS START ===========================================*/

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-1-bg {
  background-color: #f2f2f2;
}

.section-2-bg {
  background-color: #f9f9f9;
}

.section-title h2 {
  color: #ee163b;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 18px;
  padding-left: 25px;
}

.heading-icon img {
  padding-bottom: 12px;
}

.heading-icon {
  background-image: url("../../images/2x80.png");
  background-repeat: no-repeat;
  background-position: 70px center;
  margin-bottom: 0;
  padding-left: 10px;
}

/*Heading dot Pattern*/

.section-title {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  text-align: left;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 70px;
  text-align: center;
}

.section-title li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.top-space {
  margin-top: 30px;
}

.bottom-space {
  margin-bottom: 30px;
}

.skill-bar-percent,
.work-year p,
.degree-year p,
.resume-address p,
.instagram-bg,
.pricing-content  p,
.pricing-head-1 p,
.chart p {
  font-weight: 600;
}

.study-header > p,
.navbar-default .navbar-nav > li > a,
.btn,
.header-div p,
.work-exp .date ,
.form-div-1 p,
.form-div p,
.copyright p,
.awards-1  h6 span,
.awards-1  p,
reference h6 span,
.language > p,
.skill-bar-percent,
.work-position h6,
.work-year p,
.degree-year p,	
.degree p,
.resume-address p,
.instagram-bg,
.pricing-content  p,
.pricing-head-1 p,
.chart p {
  letter-spacing: 1px;
}

.reference h6,
.strength p,
.language-skills p,
resume-skills h4,
.work-position h4, 
.degree h4,
.copyright p,
.address-div > h6,
.form-div-1 p,
.form-div p,
.instagram-bg,
.work-content h4,
.header-div p,
.btn,
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}

.reference h6 span,
.awards-1  p,
.awards-1  h6 span,
.awards-1 h6,
.work-position h6,
.degree p,
.address-div > p {
  text-transform: capitalize;
}

.client-image,
.pricing-btn,
.button-div,
.logo-image,
.chart,
.test-image,
.pricing-head,
.pricing-content  p,
.projects-div,
.instagram,
.instagram-content p,
.profile h2 {
  text-align: center;
}

.subscribe-section,
.testimonial,
.header-right-image,
.header-left-image,
.header-image {
  background-position: center center;
  background-size: cover;
}

/*========================================== 2.COMMON CSS END ===========================================*/

/*========================================== 3.THEME COLOR START ============================================*/


.navbar-default .navbar-nav.clearfix.fixed-header> li > a.active,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus,
 .navbar-default .navbar-nav > .active > a:hover {
  background-color: none;
  color: #ee163b !important;
}

.address-img,
.contact-div,
.top-menu {
  background-color: #eeeeee;
}

.resume-sub {
	background-color: #ffffff;
}

.address-div,
.service-div,
.study-header {
  background-color: #e6e6e6;
}

.study-div {
  border: 1px solid #dddddd;
}

#work-bar::before,
.instagram-bg,
.btn {
  background-color: #ee163b;
}

.pricing-top,
.work-content {
  background-color: #dfdfdf;
}

.hex {
  background-color: #ffffff;
}

.pricing-head {
  background-color: #ececec;
}

.video-section .pattern-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.div-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #aaaaaa;
  -moz-box-shadow: 0 8px 6px -6px #aaaaaa;
  box-shadow: 0 8px 6px -6px #aaaaaa;
}

/*DOWNLOAD RESUME */
.title-strip {
  background-color: #ffffff;
}

.resume-head {
  background-color: #dedede;
}

.wp-caption-text {
  background-color: rgba(0,0,0,.7);
}

.skillbar-bar {
  background-color: #ee163b;
}

/*========================================== 3.THEME COLOR ENDS ============================================*/

/*========================================== 4.NAVIGATION START ===========================================*/

.navbar-default .navbar-nav > li > a {
	color:#666666;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none;
  box-shadow: none;
  background-color: unset;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-nav > li > a {
  padding-bottom: 5px;
  padding-left: 5px;
}

.menu > a {
  font-size: 12px;
}

.navbar-default {
  background-color: #f2f2f2;
  background-image: none;
  border: 0px;
}

.navbar {
  border-radius: 0;
}

.resume-menu.navbar {
  margin-bottom: 0;
}

.logo-image {
  padding-bottom: 50px;
  padding-top: 100px;
}

.menu-icon-1,
.menu-icon {
  float: right;
}

.menu-icon-1 li,
.menu-icon  li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.menu-icon > ul {
  margin-top: 5px;
  margin-bottom: 7px;
}

.menu-icon-1 > ul {
  margin-top: 30px;
  margin-bottom: 7px;
}

.menu-icon-1 {
    position: inherit;
}

.logo-image.logo-image-1 {
  padding-top: 50px;
}

.logo-image.logo-image-2 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.top-menu-2 {
  padding-bottom: 30px;
}

.top-bar > p {
  float: left;
  margin-top: 6px;
}

/*menu3*/
.email-phone {
  float: left;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 6px;
  margin-bottom: 0;
}

.email-phone > li {
  display: inline-block;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 10px;
}

/*MENU-4 AND MENU-5*/

.logo-image-4 {
  padding-bottom: 15px;
  padding-top: 15px;
  float: left;
}

.logo-image-9 {
	display:none;	
}

.logo-image-5 {
  float: left;
}

/*MENU ALIGN CENTER*/

#wrap-1,
#wrap {
  overflow: hidden;
  position: relative;
 /* IE7 needs this */;
}

#nav-1 {
  float: left;
  position: relative;
  left: 36%;
  padding-top: 16px;
}

#nav-menu,
#nav {
  float: left;
  position: relative;
  left: 50%;
}

#nav-menu ul,
#nav-1 ul,
#nav ul {
  float: left;
 /* IE6 needs this */
  position: relative;
  left: -50%;
  list-style: none;
}

#nav-menu ul {
  float: left;
 /* IE6 needs this */
  position: relative;
  left: -68%;
  list-style: none;
}

#nav-menu li,
#nav-1 li,
#nav li {
  float: left;
}

#nav-menu a,
#nav-1 a,
#nav a {
  float: left;
  text-decoration: none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.print {
    float: right;
    left: 45%;
    position: relative;
}

.print > ul {
    padding-top: 14px;
}

.print li {
    margin-left: 10px;
    margin-right: 10px;
}

/*========================================== 4.NAVIGATION END ===========================================*/

/*================================================ 5.BUTTON STRAT =========================================*/

.btn {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.btn.btn-pricing {
  font-size: 16px;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #ffffff;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*================================================ 5.BUTTON ENDS ==========================================*/

/*======================================= 6.SECTION : HEADER START ========================================*/

.header-image {
  background-image: url("../../images/1500x1200x1.jpg");
}

.header-left-image {
  background-image: url("../../images/1500x1200x2.jpg");
}

.header-right-image {
  background-image: url("../../images/1500x1200x3.jpg");
}

.header-section {
  padding-top: 220px;
  padding-bottom: 250px;
}

.header-div-left {
  text-align: left;
}

.header-div-right {
  float: right;
}

.header-div-center,
.heading-div {
  margin: 0 auto;
  text-align: center;
}

.header-div p {
  font-size: 20px;
  line-height: 35px;
}

.header-div h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

/* VIDEO HEADER*/

.video-section .pattern-overlay {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  text-align: left;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  min-height: 900px;
  width: 100%;
/* Incase of overlay problems just increase the min-height*/;
}

.video-color  p,
.video-color  h2{
	color:#ffffff;
}

/* SLIDER HEADER*/

.slider-div {
  text-align:center;
}

.carousel-control {
  bottom: 0;
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 14%;
  width: 15%;
}

.carousel-inner {
	width:100%;
	position:relative;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
	width:100%;
	/*height:800px;*/
}

.carousel-caption {
	padding-bottom:12em;
}

.heading-1 p,
.heading-1 h2{
	color:#ffffff;
}

/*======================================= 6.SECTION : HEADER END ========================================*/

/*======================================= 7.SECTION : ABOUT START ========================================*/

.about-div p {
  margin: 0 auto;
  padding-top: 20px;
}

.about-div.col-sm-6 > h2 {
  font-size: 30px;
  text-align: left;
}

/*======================================= 7.SECTION : ABOUT END ========================================*/

/*======================================= 8.SECTION : MY STUDIES START ========================================*/

.study-div {
  border-radius: 5px;
}

.study-header h3 {
  margin-top: 0;
}

.study-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}

.study-content {
  padding: 30px;
}

.study-header > p {
  font-size: 14px;
}



/*======================================= 8.SECTION : MY STUDIES START ========================================*/

/*======================================= 9.SECTION : EXPERIENCE START ========================================*/

.work-exp p {
  font-size: 15px;
}

.work-div {
  margin-bottom: 130px;
}

.work-div.work-div-1 {
  margin-bottom: 25px;
}

.work-mon h6 {
  color: #323232;
  font-size: 20px;
  line-height: 30px;
}

.work-mon  i {
  color: #ee163b;
}

.work-content-1 {
  text-align: right;
}

.work-content h4 {
  color: #ee163b;
  font-size: 18px;
}

.work-content {
  border-radius: 5px;
  padding: 30px;
}

.work-content h3 {
  margin-top: 0;
}

#work-bar::before {
  bottom: 0;
  content: " ";
  left: 50%;
  margin-left: -1.5px;
  position: absolute;
  top: 0;
  width: 2px;
}

#work-bar {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  position: relative;
}

#work-bar .work-mon {
  left: 50%;
  margin-left: -75px;
  position: absolute;
  text-align: center;
  top: 18px;
  z-index: 36;
}

#work-bar .work-div {
  position: relative;
}



/*HEXAGON SHAPE*/

.hex:hover {
  background-color: #ececec;
}

.hex:hover > .inner > h6 {
  color: #222222;
}

.hex {
  border-radius: 5px;
  width: 150px;
  height: 88px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: auto 173px;
  -moz-background-size: auto 173px;
  -ms-background-size: auto 173px;
  -o-background-size: auto 173px;
  position: relative;
  float: left;
  margin: 25px 5px;
  text-align: center;
  top: -2px;
  zoom: 1;
}

.hex.hex-gap {
  margin-left: -1px;
}

.hex a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999em;
  position: absolute;
  top: 0;
  left: 0;
}

.hex .corner-1,
.hex .corner-2 {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hex .corner-1 {
  z-index: -1;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex .corner-2 {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.inner > h6 {
  margin-top: 0;
}

/*======================================= 9.SECTION : EXPERIENCE END ========================================*/

/*======================================= 10.SECTION : SKILLSET START ========================================*/

/*PIE CHART*/
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}

.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}

.chart p {
  font-size: 20px;
  margin-top: 10px;
} 

/*======================================= 10.SECTION : SKILLSET END ========================================*/

/*======================================= 11.SECTION : TESTIMONIAL START ========================================*/

.testimonial {
  background-image: url("../../images/1500x1150.jpg");
}

.testimonial-1 {
  padding-bottom: 100px;
  padding-top: 100px;
}

.test-content h6 {
  color: #ee163b;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
}

.test-content h3 {
	color:#ffffff;
}

.test-content p {
	color:#ffffff;
  padding-top: 3px;
}

/*======================================= 11.SECTION : TESTIMONIAL END ========================================*/

/*======================================= 12.SECTION : PRICING TABLE START ========================================*/

.pricing-div {
  border: 1px solid #e6e6e6;
}

.pricing-head {
  border: 5px solid #efefef;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.pricing-inner {
  border: 2px solid #ee163b;
  border-radius: 50%;
  height: 190px;
  width: 190px;
}

.pricing-div {
  -moz-box-shadow: inset 0 0 10px #aaaaaa;
  -webkit-box-shadow: inset 0 0 10px #aaaaaa;
  box-shadow: inset 0 0 10px #aaaaaa;
  width: 100%;
}

.pricing-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pricing-head-1 {
  padding: 20px;
}

.pricing-head-1 h5 {
  font-size: 20px;
  margin-top: 25px;
}

.pricing-head-1 h6 {
  font-size: 30px;
}

.pricing-head-1 p {
  font-size: 15px;
}

.pricing-content {
  padding: 30px 20px 10px 20px;
}

.pricing-content  p {
  font-size: 15px;
  padding-bottom: 20px;
}

.pricing-div:hover .pricing-top {
  background-color: #d9d9d9;
}

.pricing-div:hover {
  border: 1px solid #eeeeee;
}

.pricing-div:hover > .pricing-top >.pricing-head ,
.pricing-div:hover .pricing-btn ,
.pricing-div:hover .pricing-content {
  background-color: #e1e3e5;
}

.pricing-btn {
  padding-bottom: 40px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*======================================= 12.SECTION : PRICING TABLE END ========================================*/'

/*========================================= 13.SECTION : SERVICES START ===================================================*/
	
.service-div h3 {
	font-weight:500;
}

.service-div > .service-icon-1 { 
	text-align: center;
	position: relative;
}

.service-div > .service-icon-1 > .service-icon {
	position: relative;
	z-index: 2; margin:
	auto;border-radius: 50%;
	width:75px;height:75px;
	border:2px solid #666666; 
	vertical-align: middle; 
}
.service-div:hover > .service-icon-1 > .service-icon { 
	background: #ee163b;
	border:2px solid #ee163b;
}

.sicon {
    padding-top: 15px;
}

.service-div > .service-icon-1 > .service-icon > i { 
	color: #666666 !important;
}

.service-div:hover > .service-icon-1 > .service-icon > i {
	color: #ffffff !important;
 }

.service-div:hover {
	background-color:rgba(51,51,51,0.2);
}

.service-div {	
	border-radius:5px;
	padding:35px;
}

/*========================================= 13.SECTION : SERVICES END ========================================*/

/*========================================= 14.SECTION : MY POST START ===================================================*/

.blog-meta {
	margin-top:20px;
}

.blog-comments ul,
.blog-date ul {
	padding-left:0;
}

.blog-comments li,
.blog-date li {
	display:inline-block;
	list-style:none;
	margin-right:10px;
}

.blog-comments,
.blog-date {
	float:left;
	margin-top:6px;
	margin-right:10px;
}

.blog-btn {
	float:right;
}


.blog-divider {
	border-bottom:1px solid #dddddd;
	margin-bottom:30px;
	margin-top:30px;
}

.post-img:hover {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

/*========================================= 14.SECTION : MY POST END ===================================================*/

/*========================================= 15.SECTION : SUBSCRIBE START ===================================================*/

/*MY PROJECTS*/
.projects-div {
	padding-left:0;
	padding-right:0;	
}

.sub-input {	
	border:1px solid #cccccc;
	color:#666666;
	height:40px;
	
}

.sub-section {
	padding-bottom:30px;
	padding-top:50px;
}

.subscribe-section {
	background-image:url("../../images/1500x580.jpg");	
}

.subscribe-section-1 {
	background-image:url("../../images/overlay-1.png");
	padding-bottom:150px;
	padding-top:150px;
	background-position: center center;	
	
}

/*========================================= 15.SECTION : SUBSCRIBE END ===================================================*/

/*========================================= 16.SECTION : INSTAGRAM PHOTOS START ===================================================*/

.instagram {	
	padding-left:5px;
	padding-right:5px;
}

.instagram-bg.hvr-grow-shadow > p {
    color: #eeeeee;
}

.instagram-content p {
	font-size:18px;
	font-weight:500;	
	line-height:26px;
	margin:0 auto;
	padding-bottom:40px;	
	width:80%;	
}

.instagram-bg {	
	color:#ffffff;
	font-size:16px;
	height:160px;
	padding-top:45px;	
	width:190px;
	 padding: 3.25em 1.6875em;
	background-image: -webkit-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -moz-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -o-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
}

.instagram img:hover {
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .5);
}

/*========================================= 16.SECTION : INSTAGRAM PHOTOS END ===================================================*/

/*========================================== 17.SECTION : FOOTER START =======================================================*/

.form-div-1 p,
.form-div p {
	font-size:16px;		
}
.form-div input.error,
.form-div-1  textarea.error {
    border-color: #ff0000 !important;   
}

.message label,
.form-div label {
	color:#ff0000;
	font-size:14px;
	text-transform:capitalize;
}

.message textarea ,
.form-div  input{
	background-color: transparent;
    border: 1px solid #aaaaaa;
}

.form-div  input{	
	border-radius:5px;
    height: 40px;
}

.message textarea {	
	border-radius:5px;
}

.message {
	margin-top:20px;
}

.contact-btn {
	margin-top:30px;	
}

.contact-div {	
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;	
}

.address-img {	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:20px 10px;	
}

.address-div {	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:30px 10px;
}

.address-div > h6 {
    font-size:18px;   
    font-weight:500;
	margin-top:0;
}

.address-div > p {
    font-size:14px;  
    letter-spacing:0.3px;
}

.contact-divider {
	border-bottom:1px solid #dddddd;
	margin-bottom:40px;
	margin-top:40px;
}

.footer-section {
	padding-bottom:30px;
	padding-top:30px;	
}

.social_icons {
    margin-top: 18px;
    margin-bottom: 0;
	padding-left:0;
}
.social_icons ul {
	padding-left:0;
}

.social_icons li{
	display:inline-block;
	list-style:none;
}

.social_icons li i {
	border-radius:5px;
	font-size:20px;
	margin-left:5px;
	margin-right:5px;
	padding-top:8px;
	border:2px solid #323232;
	width:40px;
	height:40px;
}

.address-sec > .address-sec-1 { 
	text-align: center;
	position: relative;
}

.address-sec-1 > .address-sec-1 >.address-sec-2 > .address-img {
	position: relative; z-index: 2;
	margin: auto;
	vertical-align: middle;
	width:100%; 
}

.address-sec > .address-sec-1:hover > .address-sec-2 >.address-img {
	background: #dddddd;
}

.address-sec > .address-sec-1 >.address-sec-2 > .address-img > i {
	color: #323232 !important;
}

.address-sec > .address-sec-1:hover > .address-sec-2 >.address-img > i { 
	color:#ee163b !important;
}

.address-sec > .address-sec-1:hover > .address-div {
	background: #cccccc; 
}

.address-sec > .address-sec-1:hover > .address-div >.social_icons li a i.googleplus{
		border:2px solid #ffffff;
		color:#ffffff;
}

.address-sec > .address-sec-1:hover > .address-div >.social_icons li a i.facebook{
		border:2px solid #ffffff;
		color:#ffffff;
}

.address-sec > .address-sec-1:hover > .address-div >.social_icons li a i.skype{
		border:2px solid #ffffff;
		color:#ffffff;
}
.address-sec > .address-sec-1:hover > .address-div >.social_icons li a i.instagram{
		border:2px solid #ffffff;
		color:#ffffff;
}
.address-sec > .address-sec-1:hover > .address-div >.social_icons li  a i.twitter{
		border:2px solid #ffffff;
		color:#ffffff;
}

.twitter,
.instagram,
.skype,
.facebook,
.googleplus{
	color:#ffffff;
}

/*========================================= 17.SECTION : FOOTER END ===================================================*/

/*========================================= 18.ADDITIONAL CSS START ===================================================*/

.owl-theme .owl-controls{
	margin-top: 80px;	
}

.owl-theme .owl-controls .owl-page span{	
	background: #ffffff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/	
	background: #ee163b;
}

.span9 {
    text-align: center;
    margin-bottom: 50px;
}


.span9 .btn{
    background-color: rgba(220,220,220,0.5);
	border:1px solid #cccccc;
    box-shadow: none;
	color:#666666;
}


.span9 .btn.active {
   background-color: rgba(238,22,59,0.9);
    box-shadow: none;
	color:#ffffff;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(128, 128, 128, 0.35) 0%, rgba(128, 128, 128, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(128, 128, 128, 0.35) 0%, rgba(128, 128, 128, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */;
}


 #loaderFrame{
	visibility: hidden;
	height: 1px;
	width: 1px;
 }
 
 /* Subscribe error msg */

#mc_embed_signup {
    clear: left;
    font: 14px Lato, Arial, sans-serif;
}
#mc-embedded-subscribe {
    margin: 0 0 0em 0 !important;
}
#ResultMsg {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
.SuccessMsg,
#SuccessMsg {
    color:#33cc33;
    font-weight: bold;
    font-size: 16px;
    display: none;
}
.FailureMsg,
#FailureMsg {
    color:#ff6666;
    font-weight: bold;
    font-size: 16px;
    display: none;
}
#messageDiv {
    margin-top: 20px;	
    text-align: center;
	width: 100%;
}
#sucessMessage {
    color: Green;
    font-weight: bold;
    font-size: 16px;
    display: none;
}
#failMessage {
    color: red;
    font-weight: bold;
    font-size: 16px;
    display: none;
}
.place_error::-webkit-input-placeholder {
    color: red;
    text-transform: none;
}
.place_error::-moz-placeholder {
    color: red;
    text-transform: none;
}
.place_error:-moz-placeholder {
    color: red;
    text-transform: none;
}
.place_error:-ms-input-placeholder {
    color: red;
    text-transform: none;
}
.errorClass {
    border: 1px solid red !important;
    box-shadow: 0px 0px 4px rgba(255, 80, 80, 0.3) !important;
}

/*========================================= 18.ADDITIONAL CSS END ===================================================*/

/*========================================= 19.DOWNLOAD RESUME ========================================================*/

/*========================================= 19.1. SECTION : COMMON START ========================================================*/

.download-resume {
	width: 820px;
	margin: 0 auto;
}

.resume-sub-1 .col-md-7.primary,
.resume-sub-1 .col-md-5.secondary {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.resume-sub-1 .col-xs-7.primary,
.resume-sub-1 .col-xs-5.secondary {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.resume-edu {
	-webkit-box-shadow: 0 8px 6px -6px #dddddd;
	-moz-box-shadow: 0 8px 6px -6px #dddddd;
	box-shadow: 0 8px 6px -6px #dddddd;
}

.resume-sub-2 {
	margin: 5px;
	padding-bottom: 80px;
	padding-top: 10px;
}

.resume-sub-1 {
	margin: 3px;
	padding: 15px;
}

.resume-sub-border {
	border: 2px solid #323232;
}

.resume-head-1 {
	margin-top: 40px;
}

.resume-head {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 25px;
}

.resume-head li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

.resume-head img {
	padding-bottom: 10px;
}

.resume-head h3 {
	font-size: 22px;
}

.title-strip {
	padding: 1em;
	background-image: -webkit-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -moz-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: -o-repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-image: repeating-linear-gradient(135deg, rgba(255,255,255,.3), rgba(255,255,255,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #aaaaaa;
	-moz-box-shadow: 0 8px 6px -6px #aaaaaa;
	box-shadow: 0 8px 6px -6px #aaaaaa
}

.title-strip.title-strip-1 {
	margin-bottom: 0;
}

/*========================================= 19.1. SECTION : COMMON END ========================================================*/

/*========================================= 19.2. SECTION : PROFILE START ========================================================*/

.profile {
	margin-bottom: 10px;
}

.profile h2 {
	color: #323232;
	font-size: 50px;
	margin-bottom: 30px;
	margin-top: 0;
}

.profile p {
	margin-top: 5px;
}

/*========================================= 19.2. SECTION : PROFILE END ========================================================*/

/*========================================= 19.3. SECTION : CONTACT AND SOCIAL WEBSITE START ========================================================*/

.resume-address p {
	color: #666666;
	display: inline-block;
	font-size: 14px;
}

.resume-address > h6 {
	color: #dddddd;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.resume-address > img {
	float: left;
	margin-right: 20px;
	padding-bottom: 8px;
}

.resume-address {
	padding-bottom: 10px;
}

.social {
	margin-top: 10px;
}

.social ul {
	padding-left: 0;
}

.social li {
	list-style: none;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

/*========================================= 19.3. SECTION : CONTACT AND SOCIAL WEBSITE END ========================================================*/

/*========================================= 19.4. SECTION : EDUCATION AND WORK START ========================================================*/

.work-profile,
.edu-profile {
	margin-bottom: 20px;
}

.edu-profile.edu-profile-1 {
	margin-bottom: 0;
}

.work-position h4, 
.degree h4 {
	font-size: 15px;
}

.degree p {
	font-size: 14px;
	font-weight: 500;
}

.work-year p,
.degree-year p {
	color: #555555;
	font-size: 15px;
}

.work-position h6 {
	color: #444444;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 15px;
}

.work-position p {
	color: #666666;
}

.resume-work-1 {
	margin-bottom: 20px;
}

.work-profile.work-profile-1,
.resume-work-1.resume-work-2 {
	margin-bottom: 0 !important;
}

.work-year.col-md-3,
.work-position.col-md-9,
.degree.col-md-9,
.degree-year.col-md-3 {
	padding-left: 10px;
	padding-right: 10px;
}

/*========================================= 19.4. SECTION : EDUCATION AND WORK END ========================================================*/

/*========================================= 19.5. SECTION : SKILL BAR START ========================================================*/

.resume-skills h4 {
	color: #666666;
	font-size: 18px;
}

.resume-skills-1 h4 {
	padding-bottom: 20px;
}

.resume-skills-1 {
	padding-bottom: 20px;
}

.widget_progress .style_1 .progressbar {
	background-color: #e5e5e5;
	display: block;
	height: 17px;
	width: 100%;
}

.widget_progress .style_1 .progress {
	display: block;
	height: 15px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	text-align: right;
}

.widget_progress .style_1 .progress {
	border-top-color: #ee163b;
	border-top-style: solid;
	border-top-width: 17px;
	height: 0 !important;
	overflow-x: visible !important;
	overflow-y: visible !important;
}

.widget_progress .style_1 .value {
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-right: 2px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	vertical-align: top;
}

.widget_progress .style_1 .value {
	color: #ffffff !important;
}

.widget_progress .style_1 .value {
	margin-bottom: 0 !important;
	margin-left: 20px !important;
	margin-right: 0 !important;
	margin-top: -16px !important;
	z-index: 999;
}

.skills_row {
margin-bottom: 15px;
}

.progress {
	background-image: none;
	border-radius: 0;
}

.col-xs-12.technical {
	padding-left: 8px;
	padding-right: 8px;
}

/*SKILL BAR*/

.skillbar {
	position: relative;
	display: inline-block;
	margin: 15px 0 25px 0;
	width: 100%;
	background: #eee;
	height: 5px;
	border-radius: 3px;
	width: 100%;
}

.skillbar-title {
	position: absolute;
	top: -24px;
	left: 0;
	width: 110px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	border-bottom-left-radius: 3px;
	background: unset;
	padding: 0 20px;
	height: 5px;
	line-height: 5px;
}

.skillbar-bar {
	height: 5px;
	width: 0px;
	background: #ee163b;
	border-radius: 3px;
	display: inline-block;
	position: absolute;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: -18px;
	font-size: 11px;
	height: 5px;
	line-height: 5px;
	color: #ffffff;
	color: rgba(255, 255, 255, 0.4);
}

.language > p {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.strength i,
.language  i {
	margin-right: 10px;
}

.strength h4,
.language h4 {
	padding-bottom: 10px;
}

.resume-achieve-1 {
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
}

.resume-achieve-2 {
	padding-left: 0;
	padding-right: 0;
}

/*========================================= 19.5. SECTION : SKILL BAR END ========================================================*/

/*========================================= 19.6. SECTION : PROJECTS START ========================================================*/

.wp-caption {
	position: relative;
	padding: 0;
	margin: 0;
}

.wp-caption img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wp-caption-text {
	opacity: 0;
	position: absolute;
	width: 100%;
	color: #fff;
	left: 0;
	bottom: 0;
	padding: 0.75em 1em;
	font-weight: 700;
	z-index: 2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.wp-caption:hover .wp-caption-text {
	opacity: 1;
}

/*========================================= 19.6. SECTION : PROJECTS END ========================================================*/

/*========================================= 19.7. SECTION : AWARD START ========================================================*/

.awards-1 {
	margin-bottom: 20px;
}

.awards-1.awards-2 {
	margin-bottom: 0 !important;
}

.awards-1 h6 {
	font-size: 14px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.awards-1  h6 span {
	font-size: 14px;
	font-weight: 500;
	font-style: #italic;
}

.awards-1  p {
	font-size: 14px;
}

/*========================================= 19.7. SECTION : AWARD END ========================================================*/

/*========================================= 19.8. SECTION : REFERENCE START ========================================================*/

.reference h6 {
	font-size: 14px;
	margin-bottom: 4px;
}

.reference h6 span {
	font-size: 14px;
	font-weight: 400;
}

.ref-position {
	font-style: italic;
}

.reference i {
	color: #ee163b;
	margin-right: 10px;
}

.logo-image-6 {
	display:none;
}

/*========================================= 19.8. SECTION : REFERENCE START ========================================================*/

/*======================================= 20.SECTION : MEDIA QUERIES START ===============================================================*/

@media only screen and (min-width: 250px) and (max-width: 767px) {

#wrap-1,
#wrap {
  overflow: hidden;
  position: inherit;
 /* IE7 needs this */;
}

#nav-1 {
  float:none;
  position: inherit;
  left: 0;
  padding-top: 16px;
}

#nav {
   float:none;
  position: inherit;
  left: 0;
}

#nav-1 ul,
#nav ul {
  float: none;
 /* IE6 needs this */
  position: inherit;
  left:0;
  list-style: none;
}

#nav-1 li,
#nav li {
  float: none;
}

#nav-1 a,
#nav a {
  float: none;
  text-decoration: none;
}

.logo-image-5 {
	display:inherit;
}
 
.logo-image-2,
.top-menu,
.menu-icon-1,
.logo-image-4 {
	display:none;
} 

.res-menu {
		text-align:center;
		margin:0 auto;
		width:62%;
}

.menu {
    padding-left: 15px;
}
	
.navbar-nav li a {
  color: #666666;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ee163b !important;
}

#nav-1 li, #nav li {
  float: none;
}

.res-bottom-space {
  margin-bottom: 30px;
}

.res-bottom {
  padding-bottom: 30px;
}

.test-image {
  padding-bottom: 30px;
}

.blog-comments {
  float: none;
  padding-top: 5px;
}

.blog-btn {
  clear: both;
  float: none;
  padding-top: 20px;
  text-align: left;
}

.instagram-space-1 {
  padding-bottom: 6px;
}

.form-div {
  margin-bottom: 20px;
}

.sub-section {
  width: 80%;
  margin: 0 auto;
}

#work-bar::before {
  position: unset;
}

.col-md-offset-6.col-xs-6.col-sm-offset-2.col-sm-8.col-md-6.work-exp,
	.col-xs-6.col-sm-offset-3.col-sm-8.col-md-pull-3.col-md-6.work-exp {
  margin-top: 15em;
  width: 100%;
  text-align: center;
}

.work-content.work-content-1 {
  text-align: center;
}

.work-div {
  margin-bottom: 70px;
}

.col-sm-4.address-sec.res-bottom-space {
  margin-bottom: 30px;
}

.header-div-right,
	.header-div-left {
  margin: 20px;
}	

.res-logo,
.logo-image-1 {
	display:none;
}

.logo-image-7 {
	float:left;
}

.logo-image-6 {
	display:inherit !important;
	padding-left:15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #aaaaaa;
}

.navbar-default .navbar-toggle {
	border:none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {	
	 background-color: #ee163b;
}

.logo-image-9 {
	display:block;
	float:left;
}

}

@media only screen and (min-width: 250px) and (max-width: 360px) {

  .chart-div {
    width: 80%;
    margin: 0 auto;
  }

  .col-md-2.col-sm-4.col-xs-6.chart {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (min-width: 250px) and (max-width: 599px) {
  .heading-icon img {
    display: none;	
  }
  
 .section-title li {
	display:block;
 }

  .heading-icon {
    background-image: none;
    background-position: unset;
    padding-left: 0;
  }

  .heading-icon h2 {
    text-align: center;
    padding-left: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	
  .study-div {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .service-div {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .chart-2 {
    padding-bottom: 40px;
  }

  .pricing-table,
	.pricing-div {
    display: block;
    width: 280px;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .instagram-div {
    text-align: center;
    width: 395px;
    margin: 0 auto;
    display: block;
  }

  .address-sec {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  .gallery-img {
    margin: 0 auto;
    width: 285px;
  }
}

@media only screen and (min-width: 250px) and (max-width: 480px) {
	
  .service-div,
	.study-div {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .chart-1 {
    padding-bottom: 40px;
  }

  .pricing-table,
	.pricing-div {
    display: block;
    width: 90%;
    margin: 0 auto 30px auto;
    text-align: center;
  }

  .instagram-div {
    text-align: center;
    width: 190px;
    margin: 0 auto;
    display: block;
  }

  .instagram-1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .instagram-div .col-md-2.col-sm-4.col-xs-6.instagram.instagram-2 {
    margin: 0 auto;
    display: block;
    width: 190px;
    text-align: center;
  }

  .gallery-img {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.logo-image-7 {
		float:left;
	}
	
	.logo-image-6 {	
		padding-left:15px;
	}	

  .chart-3 {
    padding-bottom: 40px;
  }

  .res-bottom-space-1 {
    margin-bottom: 30px;
  }

  .galley-div {
    display: block;
    margin: 0 auto;
    width: 81%;
  }

  .instagram-div {
    display: block;
    margin: 0 auto;
    width: 81%;
  }

  .instagram-space-2 {
    padding-bottom: 6px;
  }

  .col-md-offset-6.col-xs-6.col-sm-offset-2.col-sm-8.col-md-6.work-exp {
    margin-left: 14%;
  }

  .social_icons li i {
    border-radius: 5px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 6px;
    border: 2px solid #fff;
    width: 37px;
    height: 37px;
  }

  .col-sm-10.work-exp-div {
    margin-left: 20%;
  }

  .col-sm-10.work-exp-div-1 {
    margin-left: 36%;
  }

  #work-bar .work-mon {
    left: 14%;
    margin-left: 0;
  }  
  
  .menu-icon-1 {
	display:none;
  }
	
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

  #work-bar::before {
    position: unset;
  }

  .work-content-1 {
    text-align: left;
  }

  .work-div {
    margin-bottom: 50px;
  }
 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .col-xs-6.col-sm-offset-3.col-sm-8.col-md-pull-3.col-md-6.work-exp {
    margin-left: 53%;
  }

  .col-md-offset-6.col-xs-6.col-sm-offset-2.col-sm-8.col-md-6.work-exp {
    margin-left: 20%;
  }

  .galley-div {
    display: block;
    margin: 0 auto;
    width: 81%;
  }

  .projects-space-2 {
    padding-bottom: 7px;
  }

  .instagram-img {
    width: 100%;
  }

  .instagram-bg {
    height: 129px;
    padding-top: 18px;
    width: 150px;
  }

  #work-bar .work-mon {
    left: 21%;
    margin-left: 0;
  }

  .col-sm-10.work-exp-div {
    margin-left: 25%;
  }

  .col-sm-10.work-exp-div-1 {
    margin-left: 40%;
  }  

}

/*======================================= 20.SECTION : MEDIA QUERIES END ===============================================================*/